
h1 {
     color :green;
}
button {
    color: rgb(92, 143, 76);
}
body{
    background-color:white ;
}
button{
    background-color:brown;
}
p{
    text-align:center
}
p{
    color:red;
}
p{
    text-align:left
}
h1{
    font-weight:bold

}
h2{
   color:grey; 

}
h3{
    color:blueviolet
}
h4{
    color:pink
}
div{
    height:100px;
    background-color:darkorange;
}